<div style="margin-top: 80px;">
  <h2 style="text-align: center;">Add New Story
  <mat-icon mat-fab color="primary" (click)="addArticle()">add_circle</mat-icon>
  <!-- <button mat-button mat-raised-button color="primary" (click)="addArticle()">Add Story</button> -->
</h2>
  <mat-grid-list cols="4" rowHeight="5:3" style="background-color: lightblue;">
    <mat-grid-tile *ngFor="let each of articles">
      <mat-card>
        <mat-card-title>{{each.section}}</mat-card-title>
        <mat-card-subtitle>{{each.abstract}}</mat-card-subtitle>
        <mat-card-subtitle>Published on: {{each.publishedDate | date:'mediumDate'}}</mat-card-subtitle>
        <div>
          <mat-icon mat-fab color="accent" (click)="editArticle(each)">edit</mat-icon>
          <mat-icon mat-fab color="warn" (click)="removeArticle(each.articleId)">delete</mat-icon>
          <mat-icon mat-fab color="primary" (click)="articleDetails(each)">info</mat-icon>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card>

  </mat-card>
</div>